body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #0b132b; 
}

.container {
    background-color: #1c2541; 
    padding: 35px 30px;
    border-radius: 20px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box; /* Mengunci ukuran biar tombol ga meluber keluar */
    
    border: 2px solid #4ea8de;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.6), /* Efek bayangan gelap di bawah biar kotak terasa terangkat */
                0 0 20px #4ea8de,              /* Pendaran neon luar 1 */
                0 0 40px rgba(78, 168, 222, 0.4), /* Pendaran neon luar 2 */
                inset 0 0 15px rgba(78, 168, 222, 0.3); /* Pendaran neon lembut di dalam kotak */
    
    transition: transform 0.3s ease;
}
.container:hover {
    transform: translateY(-5px); /* Kotak otomatis makin terangkat sedikit saat kursor mendekat */
}

h1, h2 {
    color: #4ea8de; 
    margin-top: 0;
    margin-bottom: 10px;
    text-shadow: 0 0 8px #4ea8de; /* Efek neon pada teks judul */
}

p {
    color: #dbdbdb; 
    margin-bottom: 20px;
}

.btn {
    color: #0b132b;
    border: none;
    padding: 12px 25px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin: 8px 5px;
    transition: all 0.3s;
    font-weight: bold;
    display: inline-block;
}
.btn:hover { 
    transform: scale(1.05); 
    filter: brightness(1.2);
}

.btn-lebaran { background-color: #7bed9f; color: #0b132b; } 
.btn-cinta { background-color: #ffb6c1; color: #0b132b; }   
.btn-ultah { background-color: #ff7ff5; color: white; }     
.btn-biasa { background-color: #4ea8de; color: #0b132b; }   

.btn-secondary { background-color: #3a506b; color: white; }
.btn-secondary:hover { background-color: #5c718e; }

.hidden { display: none !important; }

.kue-wadah { margin: 15px auto; width: 140px; }
.kue-svg { width: 100%; height: auto; }
.palet-warna { display: flex; justify-content: center; gap: 10px; margin: 15px 0; }

.kotak-warna {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.2s;
}
.kotak-warna:hover { transform: scale(1.2); }

.input-ucapan {
    width: 90%;
    height: 80px;
    padding: 10px;
    border: 1px solid #3a506b;
    border-radius: 10px;
    font-family: inherit;
    resize: none;
    margin-top: 10px;
    background-color: #0b132b;
    color: white;
}

.surat-box {
    border: 2px dashed #4ea8de;
    background-color: #151d33;
    padding: 20px;
    border-radius: 15px;
    margin-top: 15px;
    text-align: left;
}

#tampilan-ucapan-desain {
    color: #56cfe1;
}
